{% extends 'humanresources/layout.html' %}
{% load static %}

{% block script %}
  <script src="{% static 'humanresources/script.js' %}"></script>
{% endblock %}

{% block body %}
  hello {{ request.user.email }} this is dash board
  account type: {{ user.acc_email.account_type }}
  employer id: {{ user.acc_email.id }}

  <div id="profile" data-account="{{ user.acc_email.account_type }}"></div>


  {% comment %} Employer account {% endcomment %}
  {% if user.acc_email.account_type == '3' %}
 
    <div id="tasks" data-account="{{ user.acc_email.account_type }}"></div>

    <div id="view-requested"></div>

    <div id="form-work-arrange">
      {% if message %}
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
      {% endif %}

      <form action="{% url 'index' %}" method="post" class="form-add">
        {% csrf_token %}
        {{ form_task }}
        <br>
        <button class="btn btn-primary" name="taskArrange" type="submit">Save</button>
      </form>
    </div>


    {% comment %} <h1>This is accout id: {{ user.acc_email.pk }}</h1> {% endcomment %}

    <!-- Flexbox container for aligning the toasts -->
    <div id="request-task" aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center w-100">
    
      <!-- Then put toasts within -->
      <div id="toast" class="toast form-request" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong id="toast-header-title" class="me-auto">Sample</strong>
          <button type="button" id="btn-toast" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          <form method="post" action="{% url 'index' %}">
            {% csrf_token %}
            {{ form.prefix }}

            <div class="mb-3">
              <label for="req-w-amount" class="form-label">Amount of workers</label>
              {{ form.amount }}
            </div>

            <div class="mb-3">
              <label for="req-w-start_date" class="form-label">Start date</label>
              {{ form.start_date }}
            </div>

            <div class="mb-3">
              <label for="req-w-end_date" class="form-label">End date</label>
              {{ form.end_date }}
            </div>

            <div class="mb-3">
              <label for="req-w-start_time" class="form-label">Start time</label>
              {{ form.start_time }}
            </div>

            <div class="mb-3">
              <label for="req-w-end_time" class="form-label">End time</label>
              {{ form.end_time }}
            </div>

            <div class="mb-3">
              <label for="req-w-description" class="form-label">Description</label>
              {{ form.description }}
            </div>

            <div class="mb-3">
              {% comment %} <label for="req-w-description" class="form-label">Description</label> {% endcomment %}
              {{ form.task }}
            </div>

            <button class="btn btn-primary" name="requestWorkers" type="submit">Request</button>
          </form>
        </div>
      </div>
    </div>

  {% elif user.acc_email.account_type == '2' %}
    <div id="view-employee"></div>
    <div id="view-employer-details"></div>
  {% else %}
    <div id="view-dashboard"></div>
    <div id="view-workArrange" class="container">
      <div class="row">
        <div id="view-workArrange-info" class="col"></div>
        <div id="" class="col">
          <form id="view-available-workers" method="post">
            {% comment %} {% csrf_token %} {% endcomment %}
            <button id="btn-worker-connect" class="btn btn-primary btn-submit-workers" name="connectWorkersWithTasks" type="submit">Add</button>
          </form>
        </div>
      </div>
    </div>
  {% endif %}


  

{% endblock %}