{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="{% static 'humanresources/styles.css' %}"  rel="stylesheet">
  <title>{% block title %}ABC{% endblock %}</title>
  {% block script %}
    <script src="{% static 'humanresources/script.js' %}"></script>
  {% endblock %}
</head>
<body>
  {% comment %} This is Nav {% endcomment %}
  <nav class="nav">
    <ul class="nav-list-1">
      <li class="nav-item">
        <a href="#">Dashboard</a>
      </li>
      <li class="nav-item">
        <a href="#">Search</a>
      </li>
      <li class="nav-item register">
        <a href="#">Register</a>
        <ul class="nav-list-sub invisible">
          <li class="nav-item-sub">
            <a href="#">Add Employee</a>
          </li>
          <li class="nav-item-sub">
            <a href="#">Add Employer</a>
          </li>
          <hr class="hr">
          <li class="nav-item-sub">
            <a href="#">Employee register</a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown">
        <a href="#">Work Arrange</a>
      </li>
    </ul>
  </nav>
  {% block body %}
  {% endblock %}
</body>
</html>