{% extends 'humanresources/layout.html' %}
{% load static %}

{% block script %}
   <script type="module" src="{% static 'humanresources/passwordSet.js' %}"></script>
{% endblock %}

{% block body %}
  {% if message %}
    <div class="alert alert-danger" role="alert">
      {{ message }}
    </div>
  {% endif %}

  <div class="container-form-login container-form-login-top z-n1">
    <form action="{% url 'set_password' %}" method="post">
      {% csrf_token %}
      {{ form }}
      <div class="d-flex justify-content-center mt-3">
        <button type="submit" class="btn btn-primary">Reset</button>
      </div>
    </form>
  </div>
{% endblock %}