{% extends 'humanresources/layout.html' %}

{% block body %}
  <h1>Work Arrange</h1>

  {% if user.acc_email.account_type == '3' %}
    {% if message %}
      <div class="alert alert-danger" role="alert">
        {{ message }}
      </div>
    {% endif %}

    <form action="{% url 'work_arrange' %}" method="post" id="work-arrange" class="form-add">
      {% csrf_token %}
      {{ form_task }}
      <br>
      <button class="btn btn-primary" type="submit">Save</button>
    </form>
    
  {% endif %}

{% endblock %}